.promotedLinks {

  $box-size: 150px;

  .container {
    max-width: 100%;
    margin: 0px auto;
    position: relative;
  }
  .pLinkItemWrapper {
    float: left;
    display: block;
    height: $box-size/2;
    width: $box-size/2;
    position: relative;
    border: #bebebe 1px solid;
    margin: 0px 8px 8px 0px;
    overflow: hidden;
  }
  .pLinkItemWrapperExpanded {
    @extend .pLinkItemWrapper;
    // top: 0px;
    // opacity: .8;
    /*
    // See this guide for things like formulas in css and extending etc
    // https://sass-lang.com/guide
    */
    width: $box-size/2;
    height: $box-size/2;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    //-webkit-transform: scale(0.5,0.5);
    //transform: scale(0.5,0.5);
    transition:all 0.3s ease;
    //transition-delay:0.15s;
  }
  .pLinkItemWrapperNotExpanded {
    @extend .pLinkItemWrapper;
    // top: 0px;
    // opacity: .8;
    /*
    // See this guide for things like formulas in css and extending etc
    // https://sass-lang.com/guide
    */
    width: $box-size;
    height: $box-size;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    //-webkit-transform: scale(1,1);
    //transform: scale(1,1);
    transition:all 0.3s ease;
    //transition-delay:0.15s;
  }
  .pLinkItemImage {
    height: $box-size;
    width: $box-size;
  }
  .pLinkItemHoverPanel {
    position: absolute;
    top: $box-size * .80;
    height: $box-size;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba( 0,0,0,0.75 );
    filter: alpha(opacity=50);
    padding: 2px;

    // height: $box-size * .20;
    /*
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate3d(0,$box-size * .80,0);
    transform: translate3d(0,$box-size * .80,0);
    transition:all 0.3s ease;  
    */  
  }
  .pLinkItemHoverPanelExpanded {
    @extend .pLinkItemHoverPanel;
    // top: 0px;
    // opacity: .8;
    /*
    // See this guide for things like formulas in css and extending etc
    // https://sass-lang.com/guide
    */

    // overflow: hidden;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate3d(0,-$box-size * .80,0);
    transform: translate3d(0,-$box-size * .80,0);
    transition:all 0.35s ease;
    transition-delay:0.25s;
  }
  .pLinkItemHoverPanelNotExpanded {
    @extend .pLinkItemHoverPanel;
    // top: 0px;
    // opacity: .8;
    /*
    // See this guide for things like formulas in css and extending etc
    // https://sass-lang.com/guide
    */
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition:all 0.7s ease;
    //transition-delay:0.15s;
  }
  .pLinkItemTitle {
    font-size: ($box-size - ($box-size * .80)) - 4px;
    line-height: ($box-size - ($box-size * .80)) - 4px;
    font-weight: bold;
    color: #eee;
  }
  .pLinkItemDesc {
    font-size: ($box-size - ($box-size * .80)) - 4px;
    line-height: ($box-size - ($box-size * .80)) - 4px;
    font-size: 8pt;
    //line-height: ($box-size - ($box-size * .80)) - 4px;
    color: #ccc;
  }
}